<body>
    <p>
        <%= flash[:notice] %>
    </p>

    <p>
        <strong>Title:</strong>
        <%= @book.title %>
    </p>

    <p>
        <strong>Body:</strong>
        <%= @book.body %>
    </p>

        <!--編集画面に行く-->
        <%= link_to 'Edit', edit_book_path(@book.id) %>
        |
        <!--戻るボタン-->
        <%= link_to 'Back', books_path %>

</body>
